@model IEnumerable<W13.Models.CoWorker>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Hobby</th>
            <th>Entity</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>
                    @foreach (var h in item.Hobbys)
                    {
                        @h.Name<br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entity.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
